// Some variables used in the jade
- var navs = PageData.navs
- var company = PageData.company


footer#footer.clearfix
	div.container
		div.three-fourth
			nav#footer-nav.clearfix
				ul
					- navs.forEach(function(nav){
						li
							a(href=nav.path) #{nav.navName}
					- })
			ul.contact-info
				li.address #{company.address}
				li.email
					a(href="mailto:#{company.email}") #{company.email}
				li.phone #{company.phone}

		div.one-fourth.last
			span.title Stay connected
			ul.social-links
				li.facebook
					a(href="#") Facebook
				
					
